

$font: 'Courier New', Courier;
$black_font: #0C0B0B;
$title: 1.9vw;         
$header_title: 3vw;   
$page_height: 100vh;
$white_font: #ffffff;
$center: center;
$bg_grey: #808080;
$p_text: 1.2vw;


/*  TODO
    make responsive, especially about page!!
*/



*{
      margin: 0;
      padding: 0;
      font-family: $font;
      color: $black_font;
      font-size: $title;
  }
  
  .Home{
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto 15%;
      background: linear-gradient(rgba(252, 249, 249, 0.5), rgba(87, 85, 85, 0.5)), url('/src/images/Home.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: $page_height;
  }
  
  #title{
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      margin: 0 80vw;
      padding-top: 8vh;
      width: 10%;
  }

  #intro{
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
      font-size: $p_text;
      text-align: $center;
      margin: 0 77vw;
      padding-left: 4vw;
  }

  .Contact{
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;  
      grid-template-rows: auto auto auto auto auto;
      background: linear-gradient(rgba(252, 249, 249, 0.5), rgba(87, 85, 85, 0.5)), url('/src/images/Contact.jpg');
      background-repeat: no-repeat;
      background-position: right top;
      height: $page_height;
  }

  #heading{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      padding-top: $header_title;
      font-size: $title;
      text-align: $center;
  }

  #contact_p{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
      font-family: $font;
      font-size: $p_text;
      padding-top: 1vh;
  }

  #contact_form{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      background: transparent;
      font-size: 1.5vw;
  }

  #form_name{    
      background: #d3d3d3;
      width: 12vw;
      margin-left: 2.5vw;
      outline: none;
      border: none;
      padding-left: .5vw;
      font-size: $p_text;
  }

  #form_email{     // make sure to clarify that this is either 'from' email or 'to' email
      margin-top: 4vh;
      background: #d3d3d3;
      width: 12vw;
      margin-left: .5vw;
      outline: none;
      border: none;
      padding-left: .5vw;
      font-size: $p_text;
  }

  #form_subject{
      background: #d3d3d3;
      margin-top: 4vh;
      width: 11vw;
      margin-left: .5vw;
      outline: none;
      border: none;
      padding-left: .5vw;
      margin-bottom: 2vh;
      font-size: $p_text;
  }

  #form_message{
      background: #d3d3d3;
      min-height: 20vh;
      min-width: 20vw;
      border: none;
      outline: none;
      padding-left: .5vw;
      font-size: $p_text;
  }

  #form_submit{
      background: #d3d3d3;
      margin-top: 10vh;
      border-radius: .5vw;
      font-size: $p_text;
      padding: .5vw;
  }

  .Projects{
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      background: linear-gradient(rgba(252,249,249, 0.5), rgba(87, 85, 85, 0.5)), url('/src/images/Projects.jpg');
      color: $black_font;
      font-family: $font;
      height: $page_height;
      text-align: $center;
  }

  #projects-title{
      font-size: $title;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      padding-top: 4vh;
  }

  #project_1{
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;
      font-size: $p_text;
      text-align: $center;
  }

  #project_randomQuote{
      width: 20vw;
      height: 20vh;
      margin-top: 2vh;
  }

  #project_2{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
      font-size: $p_text;
      text-align: $center;
  }

  #project_usGdp{
      width: 20vw;
      height: 20vh;
      margin-top: 2vh;
  }

  #project_3{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: $p_text;
    text-align: $center;
}

#project_Coffee{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
}

#project_4{        // make all projects a class with sass
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: $p_text;
    text-align: $center;
}

#project_drum{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
}

#project_5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: $p_text;
    text-align: $center;
}

#project_{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
}

#project_6{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: $p_text;
    text-align: $center;
}

#project_pomodoro{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
}

#project_7{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: $p_text;
    text-align: $center;
}

#project_usBar{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
}

#project_8{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: $p_text;
    text-align: $center;
}

#project_{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
}

#project_9{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: $p_text;
    text-align: $center;
}

img{
    border: none;
}

img:hover{
    box-shadow: 5px 10px;
}

#About{   
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto auto 15%;
    background: linear-gradient(rgba(252,249,249, 0.5), rgba(87, 85, 85, 0.5)), url('/src/images/About1.jpg');
    font-family: $font;
    font-size: $title;
    height: $page_height;
}

#about_title{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: $title;
    color: $black_font;
    margin-top: 2vh;
}

#about_p2{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: $p_text;
    text-indent: 2vw;
    color: $black_font;
    margin: 0 4vh 0 6vh;
}

#about_p3{
    font-size: $p_text;
    text-indent: 2vw;
    color: $black_font;
}

#Nav{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    max-width: 50%;
}

#Nav, ul, li, a{
    color: $white_font;
    margin: 10vh 0 0 4vw;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    z-index: 1;
}

li:hover{
    color: $black_font;
}