/*  TODO
    figure out a background img for the about page
    make sure font sizes are consistent across all pages, same as font-family
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #0C0B0B;
  font-size: 36px;
}

.Home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 249, 249, 0.5)), to(rgba(87, 85, 85, 0.5))), url("/src/images/Home.jpg");
  background: linear-gradient(rgba(252, 249, 249, 0.5), rgba(87, 85, 85, 0.5)), url("/src/images/Home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#title {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  margin: 0 80vw;
  padding-top: 4vh;
  width: 10%;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#Nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  background: lightgray;
  height: 100vh;
  max-width: 20%;
  padding: 4vh 2vw;
  display: none;
  /* use a mouseover to show/hide nav */
}

.Projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  color: white;
  background: black;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.Contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 249, 249, 0.5)), to(rgba(87, 85, 85, 0.5))), url("/src/images/Contact.jpg");
  background: linear-gradient(rgba(252, 249, 249, 0.5), rgba(87, 85, 85, 0.5)), url("/src/images/Contact.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  height: 100vh;
}

#heading {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 4vh;
  font-size: 36px;
  text-align: center;
}

#contact_p {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  font-family: "Courier New", Courier;
  font-size: 21px;
  padding-top: 2vh;
}

#contact_form {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background: transparent;
  font-size: 30px;
}

#form_name {
  background: lightgrey;
  width: 12vw;
  margin-left: 2.5vw;
  outline: none;
  border: none;
  padding-left: .5vw;
  font-size: 24px;
}

#form_email {
  margin-top: 4vh;
  background: lightgrey;
  width: 12vw;
  margin-left: .5vw;
  outline: none;
  border: none;
  padding-left: .5vw;
  font-size: 24px;
}

#form_subject {
  background: lightgrey;
  margin-top: 4vh;
  width: 11vw;
  margin-left: .5vw;
  outline: none;
  border: none;
  padding-left: .5vw;
  margin-bottom: 2vh;
  font-size: 24px;
}

#form_message {
  background: lightgrey;
  min-height: 20vh;
  min-width: 20vw;
  border: none;
  outline: none;
  padding-left: .5vw;
  font-size: 20px;
}

#form_submit {
  background: lightgrey;
  margin-top: 20vh;
  border-radius: .5vw;
  font-size: 24px;
  padding: .5vw;
}

.Projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 249, 249, 0.5)), to(rgba(87, 85, 85, 0.5))), url("/src/images/Projects.jpg");
  background: linear-gradient(rgba(252, 249, 249, 0.5), rgba(87, 85, 85, 0.5)), url("/src/images/Projects.jpg");
  color: #0C0B0B;
  font-family: "Courier New", Courier;
}

#projects-title {
  font-size: 36px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 4vh;
}
/*# sourceMappingURL=App.css.map */