*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 36px;
}

.Home{
  background: url('/src/images/Home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#title{
  margin: 0 80vw;
  padding-top: 4vh;
  width: 15%;
}

.Nav{
  background: lightgray;
  height: 100vh;
  opacity: .1;
  max-width: 20%;
  padding: 4vh 2vw;
}
